@import url(http://fonts.googleapis.com/css?family=Merriweather:300,300italic,400,400italic,700,700italic);
@import url(http://fonts.googleapis.com/css?family=Montserrat);
body {
    margin: 60px auto;
    width: 70%;
    font-family: 'Merriweather', Georgia, Times; 
    font-size: 16px;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    line-height: 1.4em;
    color: #333;
}
.header, .footer, .header h3 {
    font-family: 'Montserrat', Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
}
img.avatar {
    max-width:100%;
    margin-bottom: 30px;
}
.container > hr { margin: 30px 0; }
.container > hr.footer {margin-bottom: 15px; }
blockquote p { font-size: 16px; line-height: 1.6em; }
.jumbotron { margin: 80px 0; }
.jumbotron h1 { font-size: 72px; line-height: 1; }
.jumbotron .btn { font-size: 21px; padding: 14px 24px; }
.marketing p { line-height: 25px; }
.marketing p.lead { line-height: 30px; }
ul.posts li {
    list-style: none;
}
nav.navbar-light {
    background-color: #ffffff
}
.navbar-light .navbar-toggle {
    border-color: gray;
}
.navbar-light .navbar-toggle .icon-bar {
    background-color: gray;
}
